In [37]:
import pandas as pd
import re
data = pd.read_csv("spam.csv", encoding="latin1",usecols=['v1','v2'])
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [38]:
data['v2']=data['v2'].apply(lambda x: x.lower() )
data['v2'] = data['v2'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))
data

        v1                                                 v2
0      ham  go until jurong point crazy available only in ...
1      ham                            ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham        u dun say so early hor u c already then say
4      ham  nah i dont think he goes to usf he lives aroun...
...    ...                                                ...
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham                 will  b going to esplanade fr home
5569   ham  pity  was in mood for that soany other suggest...
5570   ham  the guy did some bitching but i acted like id ...
5571   ham                          rofl its true to its name

[5572 rows x 2 columns]

In [39]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag, ne_chunk
import string

def text_processing(text):
    # Tokenization
    tokens = word_tokenize(text)
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    
    # Stop word removal
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token.lower() not in stop_words]
    
    # Removing named entities
    tagged_tokens = pos_tag(filtered_tokens)
    named_entities = ne_chunk(tagged_tokens, binary=True)
    named_entities_removed = [token for token in named_entities if not isinstance(token, nltk.tree.Tree)]
    
    # Removing punctuation
    punctuation_removed = [token for token in named_entities_removed if token[0] not in string.punctuation]
    word_list = [token[0] for token in punctuation_removed]
    return word_list

In [40]:
data['sen_token']=data['v2'].apply(text_processing)

In [41]:
data

,v1,v2,sen_token
0,ham,go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n..."
1,ham,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]"
2,spam,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,nah i dont think he goes to usf he lives aroun...,"[nah, dont, think, go, usf, life, around, though]"
...,...,...,...
5567,spam,this is the 2nd time we have tried 2 contact u...,"[2nd, time, tried, 2, contact, u, u, 750, poun..."
5568,ham,will b going to esplanade fr home,"[b, going, esplanade, fr, home]"
5569,ham,pity was in mood for that soany other suggest...,"[pity, wa, mood, soany, suggestion]"
5570,ham,the guy did some bitching but i acted like id ...,"[guy, bitching, acted, like, id, interested, b..."
5571,ham,rofl its true to its name,"[rofl, true, name]"

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Create an instance of CountVectorizer
vectorizer = CountVectorizer(max_features=100)

# Fit and transform the 'v2' column of the 'data' DataFrame
count_vectors = vectorizer.fit_transform(data['v2'])

# Convert the count vectors to an array
count_vectors_array = count_vectors.toarray()

# Create a new DataFrame with the count vectors
count_vectors_df = pd.DataFrame(count_vectors_array, columns=vectorizer.get_feature_names_out())
# Display the count vectors DataFrame
count_vectors_df

,about,all,am,and,any,are,as,at,back,be,...,want,was,we,well,what,when,will,with,you,your
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5570,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0